@tailwind base;
@tailwind components;
@tailwind utilities;
  
  .drop{
    filter: drop-shadow(0px 0px 10px #116466);

}

.resume{
@apply bg-transparent ;
}

.custom-shape-divider-top-1707200867 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707200867 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 98px;
}

.custom-shape-divider-top-1707200867 .shape-fill {
    fill: #343434;
}

@keyframes gradientAnimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.gradient-text{
    background-size: 200% 200%;
animation: gradientAnimation 3s ease-out infinite;
}